<%- include('./partials/_head') %>

<div class="container">

  <div class="accordion" id="joke-list">

<!-- Each quote is going to be a card element -->

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#insert-joke-id-here"
            aria-expanded="false" aria-controls="collapseTwo">

            Insert question content here

          </button>
        </h5>

        <span>
          <form>
            <input type="submit" class="btn btn-secondary btn-sm"
              value="Edit">
          </form>
          <form>
          <input type="submit" class="btn btn-secondary btn-sm"
              value="Delete">
          </form>
        </span>

      </div>
      <div id="insert-joke-id-here" class="collapse" aria-labelledby="headingTwo" data-parent="#joke-list">
        <div class="card-body">
          <h4>Answer</h4>

          <ul class="list-group">
            <li class="list-group-item">
              Comment content
              <span>
                <form>
                <input type="submit" class="btn btn-secondary btn-sm"
                    value="Edit">
                </form>
                <form >
                <input type="submit" class="btn btn-secondary btn-sm"
                    value="Delete">
                </form>
              </span>
            </li>
          </ul>

        </div>
      </div>
    </div>
<!-- End of the loop -->
  </div>



  <a href="" class="btn btn-primary">Add Quote</a>
</div>
</body>

</html>