<%- include('./partials/_head') %>

<div class="container-form">

    <h1>Add a New Joke</h1>

    <form method="POST" action="/jokes">
      <div style="width: 20em;">
        <div class="form-group">
        <input
          style="width: 100%"
          type="text"
          name="question"
          id="question"
          placeholder="Please enter your question">
        </div>
        <input
        style="width: 100%"
        type="text"
        name="answer"
        id="answer"
        placeholder="Please enter answer">
      </div>

        <input type="submit" class="btn btn-primary" value="Add" />
      </div>
    </form>

</div>
  </body>
</html>
