<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of quotes</title>
</head>
<body>

  <h1>Add a new quote</h1>

  <form method='POST' action='/quotes'>

    <input type='text' name='quote_content' />

    <input type='submit' value='Add New Quote' />

  <form>


  
</body>
</html>